# Wireguard Easy configuration
# The public hostname of the VPN server
WG_HOST=vpn.luminessa.net

# The password for the Web UI
PASSWORD=changeme

# The port for the Wireguard tunnel (UDP)
WG_PORT=51820

# Optional: Set the default MTU for clients
# WG_MTU=1420

# Experimental AmneziaWG support
EXPERIMENTAL_AWG=true
