git.luminessa.net {
    reverse_proxy forgejo:3000
}

blog.luminessa.net {
    root * /var/www/luminessa-blog
    file_server
    encode gzip
}

sync.luminessa.net {
    reverse_proxy syncthing:8384
}

# Future: add more sites here
# www.yourdomain.com {
#     reverse_proxy website:8080
# }
