services:
  caddy:
    image: caddy:2
    container_name: caddy
    restart: unless-stopped
    user: "999:1002"
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./data:/data
      - ./config:/config
      - /var/www/luminessa-blog:/var/www/luminessa-blog:ro
    cap_add:
      - NET_BIND_SERVICE
    networks:
      - proxy

networks:
  proxy:
    external: true
